@charset "utf-8";
@import url(../css/fonts.css);

/*-------------------------------------------------------------------
    파일정의: Pages contents css
    순서:    Page name > page name > page name ...
-------------------------------------------------------------------*/

/* common */

/* Sub contents css start*/
.sub_conts {display: flex; justify-content: space-between;}
.sub_conts_wrap {width: 950px;}
    /* Sub contents > side menu css start*/
.sub_conts_menu_ttl {font-size: 25px; letter-spacing: -1px; text-transform: uppercase; color: #333333; font-weight: bold; padding-top: 60px; padding-bottom: 30px; border-bottom: 2px #6d6d6d solid;} 
.sub_side_menu ul {display: flex; flex-direction: column;}
.sub_side_menu ul li {padding-top: 30px;  color: #e6e6e6;}
.sub_side_menu ul li a {font-size: 18px; letter-spacing: 0px; text-transform: uppercase; font-weight: 500; color: #8f8f8f;}
.sub_side_menu ul li:first-child a{color: #333333;}
    /* Sub contents  > side menu css end*/
    
    /* Sub contents  > main conts css start*/
        /* Sub contents  > main conts > date header css start*/
.sub_conts_ttl {font-size: 30px; letter-spacing: -1px; text-transform: uppercase; color: #333333; font-weight: 800; text-align: center; padding-top: 50px; padding-bottom: 35px;}
.date_header {background-color: #ff8c7d; height: 80px; width: 100%; border-radius: 10px; display: flex; align-items: center; justify-content: center; gap: 10px;} 
.date_header .sel_wrap {width: 130px; height: 35px; border-radius: 10px; position: relative;}
.ui_selectbox {width:100%; height: 100%; border-radius: 8px; font-size: 16px; letter-spacing: 0px; text-transform: uppercase; color: #222222; font-weight: 300; border: none; padding: 0 10px;}
.sel_wrap::after {content:'\25BC'; top: 33%; right: 10px; color:#222222; position: absolute; font-size: 10px;}
.date_picker {display: flex; align-items: center; gap: 15px;}
.date_input {position: relative; height: 35px; width: 220px;}
input[type="date"] {width: 190px; height: 100%; border-radius: 8px; padding-inline-start: 50px; }
.date_icon {content: url(../../images/calendar.png); width: 25px; height: 25px; position: absolute; top:15%; right: 0; opacity: 0.7;} 
.mid_hyphen {color: #fff; font-size: 25px;}
        /* Sub contents  > main conts > date header css end*/
        
        /* Sub contents  > main conts > search css start*/
.search_filter {display: flex; justify-content: flex-end; padding-top: 25px; gap: 8px;}
.dropdown_sel_wrap {display: flex; gap: 5px;}
.search_filter .sel_wrap {width: 105px; height: 35px; border-radius: 5px; position: relative; border: #d0d0d0 1px solid;}
.search_wrap {display: flex; gap: 5px;}
#search {border: #d0d0d0 1px solid; border-radius: 5px; width: 200px; height: 35px;}
.search_wrap .btn_wrap .b_btn {background: url(../../images/search.svg) no-repeat 50% 50% / 20px 20px, #e3e3e3 ; width: 40px; height: 35px; border-radius: 5px; opacity: 0.5;}
        /* Sub contents  > main conts > search css end*/

        /* Sub contents  > main conts > table css start*/
.sub_table_conts {margin-top: 15px; border-top: #222222 solid 1px;}
table {width: 100%;}
colgroup {width: 100%;}
thead {background-color: #eff0f0; height: 55px;  border-bottom: #dbdbdb 1px solid; width: 100%;}
thead tr th {font-size: 14px; letter-spacing: 0px; line-height: 67px; text-transform: uppercase; color: #222222; font-weight: 500; text-align: center;}
tbody tr {height: 65px; border-bottom: #dbdbdb 1px solid;}
tbody tr td {font-size: 14px; letter-spacing: 0px; line-height: 67px; text-transform: uppercase; color: #222222; font-weight: 400; text-align: center;}
tbody tr td:first-child {text-align: start;}
tbody tr td:nth-child(3), tbody tr td:nth-child(4), tbody tr td:nth-child(5) {line-height: 20px;}
.payment_date {color: #b8b8b8;}
tbody tr td:last-child span {width: 50px; height: 25px; border-radius: 5px; display: block; line-height: 26px;} 
        /* Sub contents  > main conts > table css end*/
        
        /* Sub contents  > main conts > pagination css start*/
.paging_conts {width: 100%; display: flex; justify-content: center; margin-top: 55px; margin-bottom: 105px; gap: 15px;}
.paging_conts a {padding: 0 3px;}
.paging_conts a:first-child {border-bottom: #222222 1px solid;}
.paging_conts a:last-child {line-height: 18px;}
        /* Sub contents  > main conts > pagination css end*/

    /* Sub contents  > main conts css end*/

/* Sub contents css end*/


